@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

.hero {
  background-image: url("/hero-background.webp");
}

.split {
  background-image: url("/split-texture.webp");
  background-color: #DDA688;
}

.clipboard {
  background-image: url("/clipboard-texture.webp");
  background-color: #8DBE4E;
}

.vscode {
  background-image: url("/vscode-texture.webp");
  background-color: #998DE1;
}

.terminal {
  background-image: url("/terminal-texture.webp");
  background-color: #0078D4;
}

.custom {
  background-image: url("/custom-texture.webp");
  background-color: #DAC26C;
}

html {
  scroll-behavior: smooth;
}

.animate-inView {
  transform: scale(1);
  transition: transform 1s ease-in-out;
  animation: cornerIn 1s forwards;
}

.animate-outView {
  transform: scale(1.019);
  transition: transform 1s ease-in-out;
  animation: cornerOut 1s forwards;
}

.animate-imageInView {
  /* transform: scale(1); */
  transition: transform 1s ease-in-out;
  animation: transformImageUp 1s forwards;
}

.animate-imageOutView {

  transition: transform 1s ease-in-out;
  animation: transformImageDown 1s forwards;
}

@keyframes cornerIn {
  from {
    border-radius: 0px;
  }

  to {
    border-radius: 50px;
  }
}

@keyframes cornerOut {
  from {
    border-radius: 50px;
  }

  to {
    border-radius: 0px;
  }
}

@keyframes transformImageUp {
  from {
    top: 64px;
  }

  to {
    top: -256px;
    transform: scale(.8);
  }
}

@keyframes transformImageDown {
  from {
    top: -256px;
    transform: scale(.8);

  }

  to {
    top: 64px;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
} */